RewriteEngine On

#force https
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#save the files!
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule  .?  -  [S=1]
RewriteRule  .?  -  [S=3]

#friendly links
#RewriteRule ^([^-]+)/([^-]+)/([^-]+)$ /?page=$1&p1=$2&p2=$3 [L,NC,NS]
#RewriteRule ^([^-]+)/([^-]+)$ /?page=$1&p1=$2 [L,NC,NS]
RewriteRule ^([^-]+)$ /?urlName=$1 [L,NC,NS,QSA]